html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
}
#defaultCanvas0 {
  /* filter: blur(10px); */
}

#defaultCanvas1 {
  /* filter: blur(4px); */
  position: absolute;
  top: 0;
  left: 0;
}
